.cache/
eggs/
.coverage
coverage.xml
*.egg-info
bin/
develop-eggs/
.installed.cfg
*.pyc
*.swp
*.swo
.\#*
node_modules/
swaggerui/
dist/
static/
src/
webpack.config.js
gulpfile.js
dump.rdb
config.json
lifecycle.png
.buckconfig
buck-out/
BUCK
LOCAL
.buckd/
_build/
*.sqlite3
.DS_Store
.vscode/
.idea/
.ropeproject
flower.db
/.pytest_cache/

local_settings.py
build/
.venv/
.zae
.zae/
dev.yaml
app.yaml

# emacs tmp file
*~
\#*\#


# tzone
gen-py/
/venv
